body {
  margin: 0;
  padding: 0;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.NavBar {
  position: relative;
}

.NavBar li {
  list-style-type: none;
}

.Netflix-logo {
  width: 200px;
  height: 70px;
  margin-right: 20px;
  cursor: pointer;
}

.sign-up-button {
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: brown;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  top: 20px;
  right: 100px;
}

.sign-in-button {
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: brown;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  top: 20px;
  right: 200px;
}

.banner-section {
  background-image: url('Banner-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.video-upload {
  margin-left: 5px;
  padding: 10px 20px;
}
.video-upload-button {
  cursor: pointer;
  color: white;
  background-color: brown;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
}



